* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background:rgba(47, 107, 79, 0.075);
}
section {
    padding: 4rem 1rem;
}
.content-container {
    max-width: 1100px;
    margin: auto;
    padding: 3rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}
.contact-info h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #2f6b4f;
}
.contact-info p {
    margin-bottom: 1rem;
}
.contact-cta {
    color: #2f6b4f;
}
.description {
    max-width: 400px;
    margin-bottom: 5rem;
}
.contact-details {
    margin-bottom: 3.5vw;
    font-weight: 300;
}

.home a {
    text-decoration: none;
    color: black;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.7rem;
}
label {
    padding-bottom: 0.1rem;
}
.field {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
}
input, textarea {
    padding: 0.8rem;
    border: 1px solid #2f6b4f;
    border-radius: 2px;
    font-size: 0.9rem;
}
textarea {
    resize: none;
    height: 120px;
}

button {
    align-self: flex-end;
    padding: 0.7rem 1.8rem;
    border: none;
    background: #2f6b4f;
    padding-inline: 2.4rem;
    margin-bottom: 2rem;
    cursor: pointer;
    color: white;
}
button:hover {
    background: #1f2933;
    transition: 0.3s;
}
@media (max-width: 800px) {
    .content-container {
        grid-template-columns: 1fr;
    }

    .form-row {
        grid-template-columns: 1fr;
    }
    .contact {
        padding: 2rem 1rem;
    }
}

