* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
/* HERO */
.hero {
    position: relative;
    background: url(file_000000007ac471f595e5cb00b4e7ffb7.png);
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}
.overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to top,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.2)
    );
}

/* NAVIGATION BAR */
.navbar {
    position: relative;
    z-index: 2;

    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    padding: 0.7rem 3rem;
}

.logo  {
    font-size: 1.3rem;
    font-weight: 700;
    color: black;
    /* opacity: 0.6; */
}
.nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
    font-weight: 600;
    opacity: 0.6;
}

.nav-links a:hover {
    color: black;
    opacity: 1;
}

/* HERO CONTENT */
.hero-content {
    position: relative;
    z-index: 2;
    max-width: 600px;
    margin-right: auto;
    margin-left: 15%;
    margin-top: 10%;

    text-align: left;
}
.hero-content h1 {
    font-size: clamp(1.5rem, 3vw, 3rem);
}
.hero-content p {
    font-size: 1.2rem;
    margin-top: 1rem;
}
.hero-btn {
    margin-top: 1.5rem;
    display: flex;
    gap: 1rem;
}
.btn {
    padding: 0.8rem 1rem;
    border-radius: 0px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    width: 40%;
    text-align: center;
}
.btn:hover {
    opacity: 0.9;
}
.signup {
    background: #2f6b4f;
    color: #f4f7f6;
}
.login {
    border: 2px solid #8fd6c2;
    color: #1f2933;
}
.login:hover {
    background-color: rgb(150, 150, 148, 0.2);
}
.acct {
    font-size: 1px;
}
.acct:hover {
    transform: translateY(-2px);
}

footer {
    background-color: #1f2933;
    padding-bottom: 2rem;
}
.sub-footer {
    text-align: center;
    padding: 3rem 2rem;
    background-color: #f4f7f6;
}
.sub-footer p {
    margin-bottom: 3.9rem;
    font-size: 1.6rem;
}
.sub-footer div {
    border: 2px solid rgba(68, 13, 131, 0.8);
    display: inline-block;
    padding: 0.5rem 2.2rem;
    border-radius: 3px;
}
.footer-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    color: #f4f7f6;
    place-items: center;
    text-align: center;
    padding: 3rem 0;
}
.footer-content li {
    list-style: none;
}
footer .copyright {
    border-top: 1px solid #8fd6c2;
    text-align: center;
    padding: 1rem;
    margin: 0 4rem;
    color: #f4f7f6;
}

/* MAKING RESPONSIVE */
@media (max-width: 900px) {
    .navbar {
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        background: rgba(0, 0, 0, 0.3);
    }
    .nav-links {
        flex-direction: column;
        gap: 0.8rem;
        align-self: start;
    }

    .hero-content {
        margin: 5% 3rem;
        text-align: center;
    }
    .hero-btn {
        justify-content: center;
        flex-wrap: wrap;
    }
    .btn {
        width: 100%;
    }
    .acct {
        text-align: left;
    }
    .sub-footer {
        min-height: 40vh;
    }
}

@media (min-width: 600px) {
    .footer-section {
        grid-template-columns: repeat(3, 1fr);
    }
}
 @media (min-width: 1024px) {
    .footer-section {
    grid-template-columns: repeat(5, 1fr);
    padding: 4rem 0rem;
    font-size: 1rem;
} 
.footer-logo {
    text-align: center;
    font-size: 1.8rem;
}
.footer-content li {
    list-style: none;
}
footer .copyright {
    text-align: center;
    border-top: 2px solid #8fd6c2;
    margin: 0 7rem;
    padding-top: 3rem;
    color: #f4f7f6;
}
}  
